<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APIKEY" value="f544165e1e73730ef3216cfa484e682e"/>
    <add key="APPSID" value="68a6e9bf-cab2-43d6-82cd-39c351a018b3"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.3.1.0" newVersion="106.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>